.wrapper {
    &.selectTrMouseMove {
        background: #CACACA;    
    }
    
    &.preDelete {
        opacity: 0.3;
        background: none;
        color: black;
        input {
            color: black;
        }
    }
    
    .deleteTodo {
        position: absolute;
        cursor: pointer;
        color: black;
        right: -17px;
        top: 8px;
        font-size: 10px;
    }

    &.select {
        background: #515151B2;
        color: white;
        input {
            color: white;
        }
    }
}

td {
    position: relative;
    
    &:first-child {
        padding-left: 10px;
    }

    input {
        background: none;
        border: none;
        width: 100%;
    }  

    img {
        width: 17px;
        margin-right: 7px;
    }

    &.name {
        display: flex;
        align-items: center;
    
        input {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.modalWrapper {
    position: relative;
    td {
        height: 0;
        position: absolute;
        top: 0;
        left: 185px;
    }

    .closeModal {
        height: 100%;
        padding: 100%;
        position: fixed;
        z-index: 8;
        left: 0;
        top: 0;
    }
}
