.wrapper {
    width: 13.33px;
    height: 13.33px;
    border-radius: 3px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}
