thead {
    & th:nth-child(1) {
        width: 17%;
    }
    & th:nth-child(2) {
        width: 17%;
    }
    & th:nth-child(3) {
        width: 16%;
    }
    & th:nth-child(4) {
        width: 50%;
    }

    th {
        position: relative;

        input {
            border: none;
            width: 90%;
            border-bottom: 1px solid rgb(131, 130, 130);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
        }

        & > div {
            position: absolute;
            right: 10px;
            bottom: 5px;
        }
    }
}

.modalWrapper {
    position: relative;
    & td {
        padding: 0 !important;
    }
}
