.component {
    height: 45px;

    input {
        border: none;
        width: 100%;
        border-bottom: 1px solid rgb(131, 130, 130);
    }
}

thead {
    & th:nth-child(1) {
        width: 20%;
    }
    & th:nth-child(2) {
        width: 20%;
    }
    & th:nth-child(3) {
        width: 10%;
    }
    & th:nth-child(4) {
        width: 50%;
    }

    th {
        position: relative;
        padding: 5px;
        padding-bottom: 26px;
        height: 40px;
    
        & > div {
            position: absolute;
            right: 8px;
            bottom: 30px;
        }
    }
}
